/* ==================================== 
AddTodo Component
==================================== */
.container-add-todo {
	padding: 1rem 1rem 0rem 1rem;
}

/* ==================================== 
Todo Component
==================================== */

.list-item {
	cursor: pointer;
	padding: 1rem;
	transition: background .3s ease;
}

.todo-completed p {
	color: #AAAAAA;
	text-decoration: line-through;
}

.todo-completed .todo-subtext {
	color: #AAAAAA;
	text-decoration: line-through;
}

p {
	margin: 0;
	padding: 0.5rem;
}

p:first-child:hover, .todo-subtext:hover {
	background: #F0F0F0;
}

.todo {
	align-items: center;
	cursor: pointer;
	display: flex;
	padding: 1rem;
	transition: background .3s ease;
}

.todo-subtext {
	color: #999999;
}

/* ==================================== 
TodoApp Component
==================================== */
.container {
	background: #FAFAFA;
	border: 1px solid #FF9900;
	border-radius: 5px;
	padding: 0;
	margin-bottom: 2rem;
	position: relative;
}

#bounce-minion {
	opacity: 0.7;
}

#header-row {
 margin-top: 2rem;
}

/* ==================================== 
TodoList Component
==================================== */

.container-message {
	color: #AAAAAA;
	margin: 2rem auto;
	text-align: center;
}

.todo-list-container {
	margin-bottom: 2rem;
}

/* ==================================== 
TodoSearch Component
==================================== */




