/* ==================================== 
AddTodo Component
==================================== */
.container-add-todo {
	padding: 1rem 1rem 0rem 1rem;
}

/* ==================================== 
Todo Component
==================================== */

.list-item {
	cursor: pointer;
	padding: 1rem;
	transition: background .3s ease;
}

.todo-completed p {
	color: #AAAAAA;
	text-decoration: line-through;
}

.todo-completed .todo-subtext {
	color: #AAAAAA;
	text-decoration: line-through;
}

p {
	margin: 0;
	padding: 0.5rem;
}

p:first-child:hover, .todo-subtext:hover {
	background: #F0F0F0;
}

.todo {
	align-items: center;
	cursor: pointer;
	display: flex;
	padding: 1rem;
	transition: background .3s ease;
}

.todo-subtext {
	color: #999999;
}

/* ==================================== 
TodoApp Component
==================================== */
.container {
	background: #FAFAFA;
	border: 1px solid #FF9900;
	border-radius: 5px;
	padding: 0;
	margin-bottom: 2rem;
	position: relative;
}

.position {
  margin-top: -125px;
}

.todoapp-copy {
  color: #000;
  font-family: Impact;
  font-size: 2rem;
  text-align: center;
}

#bounce-minion {
	opacity: 0.7;
}

#header-row {
 margin-top: 2rem;
}

/* ==================================== 
TodoList Component
==================================== */

.container-message {
	color: #32CD32;
  font-family: Impact;
  font-size: 2rem;
	margin: 2rem auto;
	text-align: center;
}

.todo-list-container {
	margin-bottom: 2rem;
}

h4 {
  font-family: Impact;
  font-size: 3rem !important;
  -webkit-text-stroke: 2px #F04124;
  -webkit-text-fill-color: #FFF; 
  color: #000;
      
  -webkit-animation: colorchange 5s infinite;
  -webkit-animation-direction: alternate;
}
    
@-webkit-keyframes colorchange {
  0% {
    -webkit-text-stroke: 5px #FF9900;
    letter-spacing: 0;
  }
  100% {
    -webkit-text-stroke: 8px #32CD32;
    letter-spacing: 18px;
  }
}


#background-todo-list {
  background: none;
  border: none !important;
  margin-left: 150px;
}

#plugin-minion {
  opacity: 0.8;
}

/* ==================================== 
TodoSearch Component
==================================== */

.checkbox label {
  	display: block;
  	position: relative;
  	cursor: pointer;
  	font-size: 0.875rem;
  	line-height: 1;
}

.checkbox input[type="checkbox"] {
  	top: 0;
  	left: 0;
  	visibility: hidden;
}

.checkbox .custom-checkbox {
  	display: inline-block;
  	vertical-align: top;
  	margin: 0 6px 0 0;
  	width: 18px;
  	height: 18px;
  	border: 1px solid #1583cc;
  	position: relative;
}

.checkbox .custom-checkbox {
  	background: #1583cc;
  	box-shadow: inset 0 0 0 12px #fff;
  	top: -2px; 
}

.checkbox .icon-check {
  	width: 20px;
  	height: 20px;
  	background-size: cover;
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	-webkit-transform: scale(0);
    transform: scale(0);
  	-webkit-transition: all 180ms ease;
  	transition: all 180ms ease; }

.icon-check:before {
  	position: absolute;
  	content: '\2713';
  	width: 12px;
  	font-size: 12.66667px;
  	text-align: center;
  	line-height: 16px;
  	color: #fff;
  	font-weight: bold; 
}

.checkbox input[type="checkbox"]:checked + .custom-checkbox {
  	border-color: #2095F0;
  	box-shadow: none; 
}

.checkbox input[type="checkbox"]:checked + .custom-checkbox .icon-check {
  	-webkit-transform: scale(1);
    transform: scale(1); 
}

/* ==================================== 
Translator Component
==================================== */

button.btn {
    position: relative;
    float: right;
    margin: 114px auto;
    width: 100%;
    height: 54px;
    border: #d0d6dc solid 2px;
    color: #596066;
}
button.btn:hover, button.btn:focus {
    outline: none;
    border: rgb(158,164,170) solid 2px;
}

button:focus {
    outline: none;
}

.container-translator {
  background: #FAFAFA;
  border: 1px solid #FF9900;
  border-radius: 5px;
  padding: 2rem;
  margin-top: 2rem;
  position: relative;
}

hr {
    display: none;
}

.nixfocus {
    padding: 16px;
    width: 100%;
    border: #d0d6dc solid 1px;
    border-radius: 5px;
    font-weight: lighter;
    font-size: 2rem;
}
.nixfocus:focus {
    outline: none;
}

.try {
    margin: 4px auto;
    width: 60%;
}
.try h3 {
    padding: 10px 4px;
    font-weight: 200;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
