/* ==================================== 
AddTodo Component
==================================== */
.container-add-todo {
	padding: 1rem 1rem 0rem 1rem;
}

/* ==================================== 
Todo Component
==================================== */

.list-item {
	cursor: pointer;
	padding: 1rem;
	transition: background .3s ease;
}

.todo-completed p {
	color: #AAAAAA;
	text-decoration: line-through;
}

.todo-completed .todo-subtext {
	color: #AAAAAA;
	text-decoration: line-through;
}

p {
  font-family: Impact;
	margin: 0;
	padding: 0.5rem;
}

p:hover, .todo-subtext:hover {
	background: #FFAD33;
}

.todo {
	align-items: center;
	cursor: pointer;
	display: flex;
	padding: 1rem;
	transition: background .3s ease;
}

.todo-subtext {
	color: #999999;
}

/* ==================================== 
TodoApp Component
==================================== */
.container {
	background: #FAFAFA;
	border: 1px solid #FF9900;
	border-radius: 5px;
	padding: 0;
	margin-bottom: 2rem;
	position: relative;
}

.position {
  margin-top: -125px;
}

.todoapp-copy {
  color: #000;
  font-family: Impact;
  font-size: 2rem;
  text-align: center;
}

#bounce-minion {
	opacity: 0.7;
}

#header-row {
 margin-top: 2rem;
}

/* ==================================== 
TodoList Component
==================================== */

.container-message {
	color: #32CD32;
  font-family: Arial;
  font-size: 2rem;
	margin: 2rem auto;
	text-align: center;
  width: 700px;
}

.todo-list-container {
	margin-bottom: 2rem;
}

h4 {
  -webkit-text-stroke: 2px #F04124;
  -webkit-text-fill-color: #FFF; 
      
  -webkit-animation: colorchange 5s infinite;
  -webkit-animation-direction: alternate;
}
    
@-webkit-keyframes colorchange {
  0% {
    -webkit-text-stroke: 5px #FF9900;
    letter-spacing: 0;
  }
  100% {
    -webkit-text-stroke: 8px #32CD32;
    letter-spacing: 24px;
  }
}


#background-todo-list {
  background: none;
  border: none !important;
  margin-left: 60px;
}

#plugin-minion {
  opacity: 0.8;
}

/* ==================================== 
TodoSearch Component
==================================== */

.checkbox label {
  cursor: pointer;
  display: block;
  font-size: 0.875rem;
  line-height: 1;
  position: relative; 
}

.checkbox input[type="checkbox"] {
  left: 0;
  top: 0;
  visibility: hidden;
}

.checkbox .custom-checkbox {
  border: 1px solid #1583cc;
  display: inline-block;
  height: 18px;
  margin: 0 6px 0 0;
  position: relative;
  vertical-align: top;
  width: 18px;
}

.checkbox .custom-checkbox {
  background: #1583cc;
  box-shadow: inset 0 0 0 12px #fff;
  top: -2px; 
}

.checkbox .icon-check { 
  background-size: cover;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 180ms ease;
  transition: all 180ms ease; 
  width: 20px;
}

.icon-check:before {
  color: #fff;
  content: '\2713';
  font-size: 12.66667px;
  font-weight: bold; 
  line-height: 16px;
  position: absolute;
  text-align: center;
  width: 12px;  
}

.checkbox input[type="checkbox"]:checked + .custom-checkbox {
  border-color: #2095F0;
  box-shadow: none; 
}

.checkbox input[type="checkbox"]:checked + .custom-checkbox .icon-check {
  -webkit-transform: scale(1);
  transform: scale(1); 
}

.checkbox-text {
  color: #00558B;
}

#arrow {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* ==================================== 
Translator Component
==================================== */

button.btn {
  border: #d0d6dc solid 2px;
  color: #596066;
  float: right; 
  height: 54px;
  margin: 114px auto;
  position: relative;
  width: 100%;
}

button.btn:hover, button.btn:focus {
  border: rgb(158,164,170) solid 2px;
  outline: none;    
}

button:focus {
    outline: none;
}

.container-translator {
  background: #FAFAFA;
  border: 1px solid #FF9900;
  border-radius: 5px;
  margin-top: 2rem;
  padding: 2rem;
  position: relative;
}

hr {
    display: none;
}

.nixfocus {
  border: #d0d6dc solid 1px;
  border-radius: 5px;
  font-weight: normal;
  font-size: 2rem;
  min-height: 200px;
  padding: 16px;
  width: 300px;
}

.nixfocus:focus {
    outline: none;
}

.try {
  margin: 4px auto;
  width: 60%;
}
.try h3 {
  font-weight: 200;
  padding: 10px 4px;    
}

#canvas {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0; 
  width: 100%;   
}

#minion-button {
  background: transparent;
  height: 150px;
  width: 150px;
}

#mt-button {
  height: 200px;
  width: 300px;
}
